.field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

form label {
    font-weight: bold;
}

form label::after {
    content: " *";
    color: #ff0000;
}

form textarea {
    resize: none;
    height: 256px;
}

form select, form textarea, form input, form button, .button {
    border: #000000 1px solid;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 0.75em;
    background: #FFFFFF;
    font-family: 'Inter';
    text-decoration: none;
    color: #000000;
}

form input[type="submit"]:enabled:hover, form button:enabled:hover, .button:enabled:hover, form a:hover {
    cursor: pointer;
    background: #EEEEEE;
}

form input[type="submit"]:disabled, form button:disabled {
    background: #F1F1F1;
    color: #999999;
}

.formStatus {
    border: #ef4444 2px solid;
    background: #f87171;
    color: #FFFFFF;
    font-size: 0.75em;
    border-radius: 0.5rem;
    padding: 1rem;
}

.formStatus::before {
    content: 'Error: ';
    font-weight: bold;
}

.success {
    border-color: #10b981;
    background: #34d399;
    color: #000000;
}

.success::before {
    content: 'Success: ';
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.buttonFlex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.hidden {
    display: none;
}