---
import AnimationSide from "../AnimationSide.astro";
import TextAndContentSection from "../TextAndContentSection.astro";
import TextSide from "../TextSide.astro";
import GenerateStudyGuidesAnimation from "./GenerateStudyGuidesAnimation";

---

<TextAndContentSection>
    <TextSide textAlignRight={true}>
        <p>Generate a personalized study guide <strong>hands-free</strong> with <strong>a few clicks</strong>.</p>
    </TextSide>
    
    <AnimationSide>
        <GenerateStudyGuidesAnimation client:visible />
    </AnimationSide>
</TextAndContentSection>