---
export const prerender = true;

import Link from "../components/Link.astro";
import ScreenTextSection from "../components/index/ScreenTextSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Whoops..." navBarFixed={true}>
    <ScreenTextSection>
        <h1>Something went wrong</h1>

        <Link href="/">Return to home page</Link>
    </ScreenTextSection>
</Layout>