---
import FullScreenLayout from "../layouts/FullScreenLayout.astro";
import { API_URL } from "./async/utils";

const newPortalSessionUrl = await fetch(
    `${API_URL}/stripe/create-portal-session`,
    {
        method: 'POST',
        headers: {
            Cookie: `authenticate=${Astro.cookies.get("authenticate").value}`,
        },
    }
)
.then(response => response.json())
.then(data => data['url'])
.catch(e => null);

if (newPortalSessionUrl === null) {
    // user is not authenticated, redirect to initial route
    return Astro.redirect('/', 302);
} else {
    // redirect user to new stripe checkout session
    return Astro.redirect(newPortalSessionUrl, 302);
}
---
<FullScreenLayout title="Billing Portal" description="">
    <div class="side">
        <h1>Noter Billing Portal</h1>
        <p>We're forwarding you to the billing portal right now. Please give us a second.</p>
    </div>

    <div class="side">

    </div>
</FullScreenLayout>