---
import ContactForm from "../components/form/ContactForm";
import FullScreenLayout from "../layouts/FullScreenLayout.astro";
---
<FullScreenLayout title="Contact Noter"
        description="Contact Noter by filling out our contact form. We accept compliments, suggestions, feedback, and other communication about our service.">
    <div class="side">
        <h1>Contact us</h1>
        <p>We graciously accept compliments, suggestions, and feedback on our service to make it better for you! Please fill out and submit the form, and we'll get back to you as soon as possible. We look forward to hearing from you!</p>

        <p>Please note that we may limit submissions to prevent spam.</p>
    </div>

    <div class="side">
        <ContactForm client:load />
    </div>
</Layout>