.loadingSpinner {
    margin: auto;
    border-radius: 50%;
    border: 3px currentColor solid;
    border-bottom-color: transparent;
    border-right-color: transparent;
    width: 20px;
    height: 20px;

    animation: spin 0.75s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotateZ(0);
    }
    
    100% {
        transform: rotateZ(360deg);
    }
}