---
import Link from "./Link.astro";

interface Props {
    fixed: boolean;
}

const { fixed } = Astro.props;
---

<nav class:list={{
    'fixed': fixed
}}>
    <div class="inner">
        <a href="/">
            <h1>Noter.</h1>
        </a>

        <div class="right">
            <Link hnk href="/subscribe">Subscribe</Link>
        </div>
    </div>
</nav>

<style>
    nav {
        top: 0;
        width: 100%;
        font-size: 1.5em;
        position: sticky;
        border-bottom: #000000 2px solid;
        z-index: 100000;
        background: #ffffff;
    }

    nav.fixed {
        position: fixed;
    }
    
    nav .inner {
        margin: auto;
        width: 95%;
        display: flex;
        align-items: center;
    }

    nav .right {
        margin-left: auto;
    }

    a {
        color: #000000;
        text-decoration: none;
    }

    @media only screen and (max-width: 1000px) {
        nav {
            font-size: 1.5em;
        }
    }
</style>