---
import { API_URL } from "../pages/async/utils";
import Link from "./Link.astro";

interface Props {
    fixed: boolean;
}

const { fixed } = Astro.props;
const authCookie = Astro.cookies.get('authenticate');
let isAuthenticated = false;

if (authCookie.value !== undefined) {
    const response = await fetch(`${API_URL}`, { headers: Astro.request.headers });
    const data: object = await response.json();
    isAuthenticated = !('user' in data);
}
---

<nav class:list={{
    'fixed': fixed
}}>
    <div class="inner">
        <a href="/">
            <h2>Noter.</h2>
        </a>

        <div class="right">
            <Link href="/plans">Plans</Link>

            { isAuthenticated ? (
                <>
                    <Link href="/sign/out">Sign Out</Link>
                    <Link href="/billing">Billing</Link>
                </>
            ) : (
                <>
                    <Link href="/sign/in">Sign In</Link>
                    <Link href="/register">Get Noter</Link>
                </>
            ) }
        </div>
    </div>
</nav>

<style>
    :root {
        --nav-height: 96px;
    }

    nav {
        top: 0;
        width: 100%;
        font-size: 1.5em;
        position: sticky;
        border-bottom: #000000 2px solid;
        z-index: 100000;
        backdrop-filter: blur(1rem);
        -webkit-backdrop-filter: blur(1rem); /* for Safari support */
        height: var(--nav-height);
    }

    nav.fixed {
        position: fixed;
    }
    
    nav .inner {
        margin: auto;
        width: 95%;
        display: flex;
        align-items: center;
    }

    nav .right {
        margin-left: auto;
    }

    h2 {
        margin: 1.5rem 0 1.5rem 0;
    }

    a {
        color: #000000;
        text-decoration: none;
    }

    @media only screen and (max-width: 1000px) {
        :root {
            --nav-height: 96px;
        }
        
        nav {
            font-size: 1.25em;
            height: 72px;
        }

        h2 {
            margin: 1rem 0 1rem 0;
        }
    }
</style>
