---
import AnimationSide from "../AnimationSide.astro";
import TextAndContentSection from "../TextAndContentSection.astro";
import TextSide from "../TextSide.astro";
import NoteTakingAnimation from "./NoteTakingAnimation";

---
<TextAndContentSection>
    <TextSide>
        <h2>Take your <strong>notes</strong> and <strong>customize</strong> them.</h2>
    </TextSide>
    
    <AnimationSide>
        <NoteTakingAnimation client:visible />
    </AnimationSide>
</TextAndContentSection>
