---
import AnimationSide from "../AnimationSide.astro";
import TextAndContentSection from "../TextAndContentSection.astro";
import TextSide from "../TextSide.astro";
import NoteTakingAnimation from "./NoteTakingAnimation";

---
<TextAndContentSection>
    <TextSide textAlignRight={true}>
        <p>Take your <strong>notes</strong> and <strong>customize</strong> them.</p>
    </TextSide>
    
    <AnimationSide>
        <NoteTakingAnimation client:visible />
    </AnimationSide>
</TextAndContentSection>
