---
import AnimationSide from "../AnimationSide.astro";
import TextAndContentSection from "../TextAndContentSection.astro";
import TextSide from "../TextSide.astro";
import QuizAnimation from "./QuizAnimation";

---

<TextAndContentSection>
    <TextSide>
        <p><strong>Get quizzed</strong> on your notes to <strong>ace your next test</strong>.</p>
    </TextSide>

    <AnimationSide>
        <QuizAnimation client:visible />
    </AnimationSide>
</TextAndContentSection>