.animationContainer {
    background: #FFFFFF;
    border: #000000 2px solid;
    border-radius: 1rem;
    overflow: auto;
    box-shadow: #00000044 0px 0px 20px;
    
    display: flex;
    flex-direction: column;
}

.phone {
    width: 350px;
    height: 650px;
}

.desktop {
    width: 800px;
    height: 450px;
    margin: 1rem;
}

@media only screen and (max-width: 500px) {
    .animationContainer {
        border-radius: 0;
        border-left: none;
        border-right: none;
        width: 100%;
    }

    .desktop {
        margin: 0rem;
    }
}