.button {
    --button-color: #dcecff;

    background: var(--button-color);
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1em;
    color: #000000;
    text-align: center;
    transform: scale(1);
    pointer-events: none;

    transition: opacity 0.5s ease, transform 0.5s ease;
}