<style>
    .desktop {
        background: #FFFFFF;
        border: #000000 2px solid;
        border-radius: 1rem;
        width: 800px;
        height: 450px;
        overflow: auto;
        box-shadow: #00000044 0px 0px 20px;

        display: flex;
        flex-direction: column;
    }
</style>

<div class="desktop">
    <slot />
</div>