.magic {
    margin-bottom: 0.5rem;
    min-height: 20px;
    width: 100%;
    background: linear-gradient(90deg, #ecfff5, #dcecff, #fcefff, #ecfff5);
    border-radius: 1rem;
    background-size: 200%;
    animation: magic-in 1s ease 1,
               magic-move 2s cubic-bezier(0.65, 0, 0.35, 1) infinite;
    color: transparent;
    user-select: none;
}

.magic.done {
    text-align: left;
    height: auto;
    animation: none;
    user-select: all;
    color: #000000;
    background: transparent;
    animation: magic-loaded-in 1s ease 1;
}

@keyframes magic-move {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 200%;
    }
}

@keyframes magic-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes magic-loaded-in {
    0% {
        position: relative;
        opacity: 0;
        top: 1rem;
    }

    100% {
        opacity: 1;
        top: -1rem;
    }
}