.hidden {
    opacity: 0;
}

.container {
    position: absolute;
    transition: opacity 1s ease;
    transform-origin: top left;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
}

.image {
    position: absolute;
    transform: translateY(-25%);
    width: 75vw;
    max-width: 250px;
}