<style>
    .phone {
        background: #FFFFFF;
        border: #000000 2px solid;
        border-radius: 1rem;
        width: 350px;
        height: 650px;
        overflow: auto;
        box-shadow: #00000044 0px 0px 20px;

        display: flex;
        flex-direction: column;
    }
</style>

<div class="phone">
    <slot />
</div>