<style>
    section {
        min-height: 100vh;
    }

    .full {
        display: flex;
        font-size: max(2.5vw, 2em);
        text-align: center;
    }

    .full .centered {
        width: 75%;
        margin: auto;
    }
</style>

<section class="full">
    <div class="centered">
        <slot />
    </div>
</section>