---
interface Props {
    textAlignRight: boolean;
}

const { textAlignRight } = Astro.props as Props;
---
<style>
    .text {
		width: 90%;
        font-size: 4vw;
        margin: auto;
    }

    .right {
        text-align: right;
    }

    .text p {
        word-wrap: break-word;
    }

	@media only screen and (max-width: 1000px) {
        .text {
            font-size: 5vh;
        }
    }
</style>


<div class:list={{
    "text": true,
    "right": textAlignRight
}}>
    <slot />
</div>