<style>
    .text {
		width: 90%;
        font-size: 4vw;
        margin: auto;
    }

    .right {
        text-align: right;
    }

    .text :global(h2) {
        word-wrap: break-word;
        font-size: 1em;
        font-weight: 400;
    }

	@media only screen and (max-width: 1000px) {
        .text {
            font-size: 5vh;
            text-align: center;
        }
    }
</style>


<div class="text">
    <slot />
</div>