---
import Layout from './Layout.astro';

export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---
<Layout title={title} description={description} navBarFixed={false}>
    <div class="centered">
        <slot />
    </div>
</Layout>

<style>
	.centered {
		width: 50%;
		margin: auto;
	}

    @media only screen and (max-width: 1200px) {
		.centered {
			width: 90%;
		}
	}
</style>

