---
interface Props {
    title: string;
}

const { title } = Astro.props as Props;
---

<meta charset="UTF-8" />
<meta name="description" content="Noter is your AI-powered notebook.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;800&family=Playfair+Display:wght@400;800&display=swap" rel="stylesheet">
{ import.meta.env.VITE_CLOUDFLARE_WEB_ANALYTICS || '' }
<title>{title} | Noter</title>