---
import AnimationSide from "../AnimationSide.astro";
import TextAndContentSection from "../TextAndContentSection.astro";
import TextSide from "../TextSide.astro";
import AutonoteAnimation from "./AutonoteAnimation";

---

<TextAndContentSection>
    <AnimationSide style="text-align: center;">
        <AutonoteAnimation client:visible />
    </AnimationSide>

    <TextSide textAlignRight={false}>
        <p>Or, use <strong>hands-free notetaking</strong>, so you can <strong>focus</strong> on your lecture.</p>
    </TextSide>
</TextAndContentSection>